<div class="bodypage">

    <mat-toolbar color = "primary">
      <mat-toolbar-row >
        <span> Tindin </span>
        <span class="example-spacer"> </span>
        <div class="example-button-container " >
          <button mat-fab color="" aria-label="Example icon button with a bookmark icon">
            <mat-icon>person</mat-icon>
          </button>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
 
  <div class="sliders">

    <div class="slider">
      <input type="radio" name="radio-btn" id="radio1">
      <input type="radio" name="radio-btn" id="radio2">
      <input type="radio" name="radio-btn" id="radio3">

      <div class="slide first">
        <img src="https://wallpaperaccess.com/full/3544463.jpg" alt="Star Wars Jedi Fallen" />

      </div>

      <div class="slide ">
        <img src="https://wallpaperaccess.com/full/3544801.jpg" alt="the witcher 3" />
      </div>

      <div class="slide ">
        <img src="https://images.hdqwalls.com/download/the-legend-of-zelda-minimal-logo-4k-no-1680x1050.jpg"
          alt="zelda" />
      </div>

      <div class="navigation-auto">
        <div class="auto-button1"></div>
        <div class="auto-button2"></div>
        <div class="auto-button3"></div>
      </div>

      <div class="manualnavigation">
        <label for="radio1" class="manual-button"></label>
        <label for="radio2" class="manual-button"></label>
        <label for="radio3" class="manual-button"></label>

      </div>

    </div>

  </div>

  <app-games-list>
    <div fxLayout="row" fxLayoutAlign="center center"></div>
  </app-games-list>
</div>